Firstly Import the Required Modules.

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib 
# matplotlib.rcParams["figure.figsize"] = (20,10)

a = pd.read_excel('C:\\Users\\hp\\Downloads\\Tweet_NFT.xlsx')
a.head(10)

,id,tweet_text,tweet_created_at,tweet_intent
0,1212762,@crypto_brody @eCoLoGy1990 @MoonrunnersNFT @It...,2022-08-06T16:56:36.000Z,Community
1,1212763,Need Sick Character artâ“#art #artist #Artist...,2022-08-06T16:56:36.000Z,Giveaway
2,1212765,@The_Hulk_NFT @INagotchiNFT @Tesla @killabears...,2022-08-06T16:56:35.000Z,Appreciation
3,1212766,@CryptoBatzNFT @DarekBTW The first project in ...,2022-08-06T16:56:35.000Z,Community
4,1212767,@sashadysonn The first project in crypto with ...,2022-08-06T16:56:34.000Z,Community
5,1212768,ðŸŽ‰ Just registered for the saphire on @PREMI...,2022-08-06T16:56:34.000Z,Presale
6,1212769,ðŸš¨ THE BRIDGED #4660/9999 SOLD!!! =&gt; PRIC...,2022-08-06T16:56:33.000Z,Giveaway
7,1212771,@mtnDAO PROJECT 21 - THE BEST GAMEFI PROJECT O...,2022-08-06T16:56:33.000Z,Whitelist
8,1212772,@Ra8bitsNFT Feature it on @Globalnft07\nWe hav...,2022-08-06T16:56:33.000Z,Community
9,1212774,@SpaceBrosBSC PROJECT 21 - THE BEST GAMEFI PRO...,2022-08-06T16:56:32.000Z,Whitelist

In [5]:
a.shape

(127453, 4)

In [6]:
a.columns

Index(['id', 'tweet_text', 'tweet_created_at', 'tweet_intent'], dtype='object')

Count the total of each tweet intent.

In [8]:
a['tweet_intent'].value_counts()

Community         41510
Giveaway          21041
Appreciation      16451
Whitelist          8320
Presale            5107
Done               3049
pinksale            477
Interested          276
Launching Soon      133
Name: tweet_intent, dtype: int64

Drop Columns which is not required for our Model.

In [11]:
b = a.drop(['id','tweet_created_at'],axis='columns')
b.shape

(127453, 2)

Check how many null values are there.

In [12]:
b.isnull().sum()

tweet_text          0
tweet_intent    31089
dtype: int64

Drop that all null values

In [13]:
c = b.dropna()
c.isnull().sum()

tweet_text      0
tweet_intent    0
dtype: int64